@CHARSET "UTF-8";

/**
 * www.simplybusiness.se website
 *
 * Designed and implemented by simplybusiness.se
 *
 * Copyright simplybusiness.se 2012
**/

/**
 * css reset
**/

* { margin: 0px; padding: 0px; border: 0px; }
.clearleft { clear: left; }
.clearright { clear: right; }
.clearboth { clear: both; }

/* float clearing for IE7 */
*+html .clearfix {
    min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}

/**
 * main body, text, headers, etc
**/

html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	font-family: arial, verdana, sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #000;
}

h1 {
	font-size: 24px;
    font-weight: bold;
	margin: 10px 0;
}

h2 {
	font-size: 18px;
    font-weight: bold;
	margin: 10px 0 5px 0;
}

h3 {
	font-size: 16px;
    font-weight: bold;
	margin: 10px 0 5px 0;
}

h4 {
	font-size: 16px;
    font-weight: normal;
	margin: 10px 0 5px 0;
}

a {
    color: #666;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.embedded-img {
	float: right;
	padding: 5px 0px 5px 5px;
}

p {
	margin: 5px 0;
}

ul {
	margin: 10px 0;
	padding-left: 20px;
	list-style: none;
}

li {
	padding-left: 13px;
	background: url("../images/small-bullet.png") no-repeat 0 7px;
}

.list_style_none,
.list_style_none ul {
    padding-left: 0;
}

.list_style_none li {
	padding-left: 0;
	background: none;
}

input,
textarea {
	font-family: Arial, Verdana, sans-serif;
	font-size: 15px;
	color: #494544;
}

input[type='text'],
input[type='password'],
textarea {
    margin: 0;
	border: 1px solid #C8C8C8;
	font-family: Arial, Verdana, sans-serif;
	font-size: 1em;
	color: #444;
    padding: 2px;
    font-size: 14px;
}
input[type='checkbox'] {
    margin: 0;
}
input[type='button'],
input[type='submit'] {
    margin: 0;
    padding: 5px;
    background-color: #ddd;
    border: 1px solid #aaa;
	color: #494544;
    font-weight: bold;
}
input[type='button']:hover,
input[type='submit']:hover {
    background-color: #ccc;
}

.button-link-wrapper a {
    display: inline-block;
    margin: 12px 0 0 0;
    font-weight: bold;
}

